[submodule ".local/bin/auto_walls"]
	path = .local/bin/auto_walls
	url = https://github.com/cebem1nt/auto_walls.git
[submodule ".vscode-oss/tokyo-night-dark-enhanced"]
	path = .vscode-oss/tokyo-night-dark-enhanced
	url = https://github.com/Venage5603/Tokyo-Night-Dark-Enhanced.git
[submodule ".local/share/nvim/lazy/tokyodark.nvim"]
	path = .local/share/nvim/lazy/tokyodark.nvim
	url = https://github.com/cebem1nt/tokyodark.nvim.git
