:root {
    --toolbarbutton-icon-fill: rgba(251, 251, 254, 0.81) !important;
}

toolbarbutton.titlebar-button.titlebar-close {
    display: none !important;
}

box#identity-box[pageproxystate="valid"] > box#identity-icon-box.identity-box-button {
    margin-right: 5px;
}

#editBMPanel_locationField.editBMPanel_locationRow.uri-element.hideable {
    width: 100% !important;
}