
/* Change default font */
:root {
    --encore-body-font-stack: "CaskaydiaCove Nerd Font Propo";
}

/* Window control padding */
#global-nav-bar .main-globalNav-historyButtonsContainer .Kgjmt7IX5samBYUpbkBu {
    display: none;
}

/* Hide spicetify update button */
#global-nav-bar .main-globalNav-historyButtons
button[aria-label="Update Spicetify"][title="Update Spicetify"] {
    display: none;
}

/* Set transparent background but not setting it transparent on hover */
header.main-yourLibraryX-header button.main-useDropTarget-base:not(:hover) {
    background: transparent;
}

/* Remove annoying big "Create" span inside of the library bar */
header.main-yourLibraryX-header button.main-useDropTarget-base span.e-9890-text {
    display: none;
}

/* Remove paddings left for better view with "Create" label */
header.main-yourLibraryX-header button.main-useDropTarget-base {
    padding: 0;
}
